# ============================
# PostgreSQL
# ============================
POSTGRES_USER=olist_admin
POSTGRES_PASSWORD=olist_secret_2024
POSTGRES_DB=olist_warehouse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ============================
# Airflow
# ============================
AIRFLOW__CORE__FERNET_KEY=your-fernet-key-here
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://olist_admin:olist_secret_2024@postgres:5432/olist_warehouse
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__SECRET_KEY=your-webserver-secret-key-here
